.section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.section button{
    /* border: 2px solid gainsboro; */
    background-color: rgba(0, 0, 255, 0.503);
    border-radius: 6px;
    border: none;
    outline: none;
    /* width: 33px; */
    padding: 1px 18px;
    color: white;
    font-weight: bold;
    height: 35px;
}

.item_section{
   display: flex;
   flex-direction: column;
   gap: 3px;
}